@charset "UTF-8";
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* css雛形 */
body {
    display: block;
    color: #333;
    font-size: 0.875rem;
}
a {
    color: #333;
    text-decoration: none;
    transition: all 0.5s;
}
a:hover {
    opacity: 0.7;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
/* ハンバーガーメニュー */
.hamburger {
    display :block;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
    cursor: pointer;
}
.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform .5s, opacity .5s;
    position: absolute;
}
.hamburger span:nth-child(1) {
    top: 0;
}
.hamburger span:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
}
.hamburger-menu {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.8);
}
.hamburger-menu a {
    color: #fff;
}
/* 全体的なcss */
.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}
/* ヘッダー */
.header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 2;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
/* メイン */
main {
    margin-top: 115px;
}
/* main-contents */
.main-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: yellow;
}
.main-contents li {
    width: 23%;
    margin-bottom: 40px;
}
.next-page {
    text-align: center;
    margin-bottom: 100px;
}
.item {
    background-color: aquamarine;
}
/* フッター */
.footer-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    left: 0;
    right: 0;
}
footer .link {
    display: flex;
}
footer .link li {
    font-size: 0.75rem;
    margin-right: 30px;
}
footer .copyright {
    font-size: 0.625rem;
}
